<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobi.ioio.plotter_app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="EdgeTracerActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:label="@string/title_activity_edge_tracer"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="ScribblerActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:label="@string/title_activity_scribbler"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="PlotterMainActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:label="@string/title_activity_main"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="PlotterService" >
        </service>
    </application>

</manifest>